# build directory
RPMS/
SOURCES/
BUILD/
SPECS/
disk*/
*.iso

_os
_arch
_distribution
.rpmmacros

# ignore version, rules  files
python.mk
Rules-*.mk
Rules.mk
Rolls.mk
roll*.mk
rocks-*.mk
roll-tstat.*

# ignore large src files
src/*/*.gz
src/*/*.zip

# ignore doc files extracted from tar file
src/guide/HOWTO.*
src/guide/tstat_*.png
src/influxdata/*rpm

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# End of https://www.gitignore.io/api/macos
