# build directory
RPMS/
SOURCES/
BUILD/
SPECS/
disk*/
*.iso

_os
_arch
_distribution
.rpmmacros

# ignore version, rules  files
python.mk
Rules-*.mk
Rules.mk
Rolls.mk
roll*.mk
rocks-*.mk
roll-tstat.*

# ignore large src files
src/*/*.gz
src/*/*.zip

# ignore doc files extracted from tar file
src/guide/HOWTO.*
src/guide/tstat_*.png
src/influxdata/*rpm
